.container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: black;
    border: 2px solid greenyellow;
}
.inputNormal {
    height: 30px;
    border: 2px solid white;
    
}
.invalidInput {
    border: 2px solid red;
    background-color: yellow;
}